<a class="summary" href="{{ .RelPermalink }}">
  <div class="summary-meta">
    <span class="summary-date">{{ dateFormat "2006-01-02" .Date }}</span>
    {{ range .Params.tags }}<span class="summary-tag">{{ . }}</span> {{ end }}
  </div>
  <h2 class="summary-title">{{ .Title }}</h2>
  <p class="summary-description">{{ .Params.description }}</p>
  <div class="summary-footer">
    <span class="sf-link">./lire →</span>
    <span class="sf-sep">|</span>
    <span class="sf-meta">{{ math.Round (div (countwords .Content) 200.0) }} min read</span>
  </div>
</a>
